.demo-wrap{
  align-items: flex-start;
  flex-direction: column;
  overflow: auto;
}
.demo-block{
  flex-direction: column;
}
.demo-title{
  font-size: 48rpx;
  font-weight: 700;
  margin-bottom: 30rpx;
  margin-top: 24rpx;
  border-bottom: 1rpx solid #333;
}
.demo-subtitle{
  margin-left: 24rpx;
  font-size: 36rpx;
  margin-bottom: 12rpx;
}
.demo-link {
  border: 1rpx solid #000;
}
.demo-content{
  margin-left: 24rpx;
}
.margin-bigger{
  margin-left: 48px;
}
